body {
    color: #000;
    background: #fff;
    min-height: 100vh;
    /*perguntar qual fonte*/
}

.topo {
    position: fixed;
    background: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    margin: 0;
}

.linha-sup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-inf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 20px;
}

.pesquisa input {
    width: 100%; /*aumentar a barra de pesquisa*/
}

.item-carrossel img {
    width: 100%;
    margin-top: 150px;
    height: 500px;
    object-fit: cover;
    display: block;
}

.overlap {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*fazer o texto ficar en cima da foto*/
