body {
    color: #000;
    background: #fff;
    min-height: 100vh;
    /*perguntar qual fonte*/
}

.topo {
    position: fixed;
    background: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    margin: 0;
    z-index: 1;
}

.linha-sup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.icon-btn {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.icon path {
    fill: white !important;
    transition: fill 0.3s ease;
}

.icon-btn:hover .icon path {
    fill: #918d8d!important;
}

.linha-inf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 20px;
}

.pesquisa {
  position: relative;
  width: 500px; 
}

.pesquisa input {
  width: 100%;
  padding: 10px 40px 10px 16px; 
  border-radius: 8px;
}

.icone-lupa {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.pagina-inicial {
    margin-top: 180px;
}

.carrosel {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease;
}

.item-carrossel {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.item-carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seta-esquerda,
.seta-direita {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px;
    z-index: 10;
}

.seta-esquerda {
    left: 20px;
}

.seta-direita {
    right: 20px;
}

.seta-esquerda svg,
.seta-direita svg {
    fill: white;
    width: 40px;
    height: 40px;
}

.overlap {
  position: absolute;
  align-items: center;
  bottom: 40px;
  left: 40px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.overlap p {
    margin-top: 0;
}

.indicadores {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.indicadores span {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.indicadores span.ativo {
    background: white;
}

